@charset  "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, 
    #e0c3fc, #8ec5fc);
}
main{
    position: relative;
    height: 100vh;
    width:100vw; 
}
#titulo{
    font-size: 1.5em;
    color: #7949f1;
}

#titulo::after{
    content: '';
    display: block;
    margin-bottom: 0 auto;
    height: 5px;
    background-color: #7949f1;
    width: 65px;
}

div.principal{
    background-color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: 10px;
    height: 800px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    overflow: hidden;

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}
.formulario{
    padding: 20px;
}
.imagem{
    height: 500px;
    display: none;
    
}

form > div.campo, form > div.fundo{
    margin: 10px 0px;
}
form > div.fundo{
    background-color: #7949f1;
    display: block;
    width: 100%;
    border-radius: 8px;
    height: 45px;
    border: 2px solid #7949f1;

}
div.fundo > input{
    width: calc(100% - 44.4px);
    height: 40px;
    border-radius: 8px;
    font-size: 1em;

    transform: translateY(-10px);
}
div.fundo > input:focus-within{
    background-color: white;
}

div.fundo > span{
    color: white;
    padding: 5px;
    width: 40px;
    height: 45px;
    font-size: 2em;
    
    
}

form > div.fundo > label{
    display: none;
}

form > div.campo > input{
    border: 1px solid black;
    height: 25px;
    
}

div > h2 > label.sub{
    font-size: 0.8em;
    display: block;
    color: #7949f1;
    
}

div.campo > textarea{
    border-color: black;
    display: block;
    width: 260px;
    height: 130px;
    margin: auto;
    font-size: 1em;
}
form > p > input[type=submit]{
    display: block;
    margin: auto;
    width: 150px;
    height: 30px;
    font-size: 1.2em;
    border-radius: 10px;
    color: white;
    background-color:#7949f1;
}
form > p > input[type=submit]:hover{
    border-color: #7949f1;
    color: #7949f1;
    background-color: white;
}